{% extends "main/base.html" %}
{% load staticfiles %}

{% load formtags %}

{% block body_block %}

  {% if registered %}
    <center>
      <div class="whole-screen" style="backdrop-filter: blur(3px); margin:0">
        <h3 class="m-5"></h3>
        <h3 class="m-5">Thank you for registering</h3>
      </div>
    </center>
  {% else %}
  <br>
  <br>
  <br>
    <div class="signup-form">
      <h3>User registration form</h3>
      {% if user_form.errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <ul class="ul-error-list">
            {% for key, value in user_form.errors.items %}
              <li><strong>{{ value | striptags }}</strong></li>
            {% endfor %}
          </ul>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endif %}
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group mb-2">
          {{ user_form.username.label_tag }}
          {% if user_form.username.errors %}
            {{ user_form.username|bclass:"form-control is-invalid" }}
          {% else %}
            {{ user_form.username|bclass:"form-control" }}
          {% endif %}
        </div>
        
        <div class="form-group mb-2">
          {{ user_form.email.label_tag }}
          {% if user_form.email.errors %}
          {{ user_form.email|bclass:"form-control is-invalid" }}
          {% else %}
          {{ user_form.email|bclass:"form-control" }}
          {% endif %}
        </div>

        <div class="form-group mb-2">
          <label class="form-label m-0" for="password">Password:</label>
          <div class="input-group">
            <input type="password" class="form-control {% if user_form.password.errors %}is-invalid{% endif %}"
            name="password" placeholder="Password" id="current-password">
            <div class="input-group-text" id="btnGroupAddon">
              <img src="/media/password-show.png" id="togglePassword">
            </div>
          </div>
        </div>

        <div class="mt-2"></div>
        {{ profile_form.as_p }}
        <input class="btn btn-secondary btn-block" type="submit" name="submit" value="Signup">
      </form>
    </div>
  
  {% endif %}
  
  <script src="{% static 'js/showPassword.js' %}"></script>
{% endblock %}
